<h2>Detalles del Evento</h2>
<p><strong>Tipo de Evento:</strong> {{ evento.tipoEvento }}</p>
<p><strong>Lugar:</strong> {{ evento.lugar }}</p>
<p><strong>Fecha:</strong> {{ evento.fecha }}</p>
<p><strong>Hora:</strong> {{ evento.hora }}</p>
<p><strong>Descripción:</strong> {{ evento.descripcion }}</p>

<h3>Lista de Regalos</h3>
<ul>
  <li *ngFor="let regalo of regalos">
    <p>{{ regalo.name }} - {{ regalo.description }}</p>
    <button [disabled]="regalo.isSelected" (click)="seleccionarRegalo(regalo)">
      {{ regalo.isSelected ? "Seleccionado" : "Seleccionar" }}
    </button>
  </li>
</ul>
