<form (ngSubmit)="iniciarSesion()" class="flex flex-col gap-4 items-start mt-12">
  <div>
    <label class="text-base font-semibold" for="email">Email:</label>
    <input class="border border-gray-800 rounded-md p-1 text-sm ml-2" type="email" id="email" [(ngModel)]="email" name="email"
      required />
  </div>

  <div>
    <label class="text-base font-semibold" for="password">Password:</label>
    <input class="border border-gray-800 rounded-md p-1 text-sm ml-2" type="password" id="password" [(ngModel)]="password"
      name="password" required />
  </div>

  <button class="bg-blue-500 text-white rounded-md py-2 px-3 font-semibold uppercase" type="submit">Iniciar Sesión</button>
</form>
