<section class="container flex items-start justify-between mt-12">
  <div>
    <h2 class="mb-6 text-2xl font-bold">Eventos creados</h2>
    <ul class="flex flex-col gap-4 text-left">
      <li *ngFor="let event of events">
        {{ event.eventType }} - Código: {{ event.code }} <br />
        <button (click)="selectGifts(event.id)">Elegir Regalos</button>
      </li>
    </ul>
  </div>

  <div>
    <h2 class="mb-6 text-2xl font-bold">Crear un nuevo evento</h2>
    <form (ngSubmit)="createEvent()" class="mt-0">
      <div class="input-container">
        <label for="tipoEvento">Tipo de Evento:</label>
        <input
          type="text"
          id="tipoEvento"
          [(ngModel)]="eventType"
          name="tipoEvento"
        />
      </div>
      <div class="input-container">
        <label for="lugar">Lugar:</label>
        <input type="text" id="lugar" [(ngModel)]="location" name="lugar" />
      </div>
      <div class="input-container">
        <label for="fecha">Fecha:</label>
        <input type="date" id="fecha" [(ngModel)]="date" name="fecha" />
      </div>
      <div class="input-container">
        <label for="hora">Hora:</label>
        <input type="time" id="hora" [(ngModel)]="time" name="hora" />
      </div>
      <div class="input-container">
        <label for="descripcion">Descripción:</label>
        <textarea
          id="descripcion"
          [(ngModel)]="description"
          name="descripcion"
        ></textarea>
      </div>
      <button type="submit">Crear Evento</button>
    </form>
  </div>
</section>
