<h2>Eventos creados</h2>
<ul>
  <li *ngFor="let evento of eventos">
    {{ evento.tipoEvento }} - Código: {{ evento.codigo }} <br />
    <button (click)="elegirRegalos(evento.id)">Elegir Regalos</button>
  </li>
</ul>

<h2>Crear un nuevo evento</h2>
<form (ngSubmit)="crearEvento()">
  <div class="input-container">
    <label for="tipoEvento">Tipo de Evento:</label>
    <input
      type="text"
      id="tipoEvento"
      [(ngModel)]="tipoEvento"
      name="tipoEvento"
    />
  </div>
  <div class="input-container">
    <label for="lugar">Lugar:</label>
    <input type="text" id="lugar" [(ngModel)]="lugar" name="lugar" />
  </div>
  <div class="input-container">
    <label for="fecha">Fecha:</label>
    <input type="date" id="fecha" [(ngModel)]="fecha" name="fecha" />
  </div>
  <div class="input-container">
    <label for="hora">Hora:</label>
    <input type="time" id="hora" [(ngModel)]="hora" name="hora" />
  </div>
  <div class="input-container">
    <label for="descripcion">Descripción:</label>
    <textarea
      id="descripcion"
      [(ngModel)]="descripcion"
      name="descripcion"
    ></textarea>
  </div>
  <button type="submit">Crear Evento</button>
</form>

<button (click)="cerrarSesion()">Cerrar Sesión</button>
